/* .chatWindow::-webkit-scrollbar {
    background-color: #222e35;
    color: white;
    width: 10px
  } */

  .chatWindow::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track  == the rest of the bar*/
  .chatWindow::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle -- the scrolling piece */
  .chatWindow::-webkit-scrollbar-thumb {
    background: #111b21;
  }
  
  /* Handle on hover */
  .chatWindow::-webkit-scrollbar-thumb:hover {
    background: #222e35;
  }