.callMessage {
    animation: callBlink 2s ease-in infinite;
}

.buttonShaking {
    animation: shaking 0.2s ease-in-out infinite ;
}

@keyframes callBlink {
    0%{
        color: rgb(45, 216, 45);
    }
    100%{
        color: rgb(11, 11, 11);
    }
}

@keyframes shaking {
    0% {
        margin-left: 2px;
    }

    100% {
        margin-left: -2px;
    }
}


